body{
color:#575757;
font-family:"Calibri","Trebuchet MS","Helvetica","Arial","Verdana";
font-size:90%;
}


div.view-Pictures-block div.field-content img{
padding-bottom:3px;
}

div.field-content img{
float:left;
padding-right:20px;

}

#logo img {
vertical-align:center;
padding-left:4%;
padding-top:10px;
padding-bottom:10px;
}



#content-area{
clear:right;

}

/*Vista Events*/

div.view-events div.view-content div.views-field-field-imagen-fid a{
float:left;
padding-right:15px;
padding-bottom:15px;
}

div.view-events div.view-content div.views-field-field-imagen-fid{
clear:left;
}

/*Vista News */



div.view-news div.view-content div.views-field-field-imagen-fid a{
float:left;
padding-right:15px;
padding-bottom:15px;
}

div.view-news div.view-content div.views-field-field-imagen-fid{
clear:left;
}

/* Vista resources*/


div.view-Resources div.view-content div.views-field-field-imagen-fid img{
float:left;
padding-right:15px;
padding-bottom:15px;
}

div.view-Resources div.view-content div.views-field-field-imagen-fid{
clear:left;
}
