body{
color:#575757;
font-family:"Calibri","Trebuchet MS","Helvetica","Arial","Verdana";
font-size:90%;
}

ul.links li {
display:inline;
list-style-type:none;
padding:0 0;
}

/* Cabecera */

#header{
padding-bottom:15px;
height: 300px;
}

#logo img {
vertical-align:center;
padding-top:10px;
padding-bottom:10px;
/*padding-left:1%;*/
}

/* Bloque noticias */

#block-block-1{
padding-top:15px;
}

#content-area{
clear:right;
}

#main a{
color:#802537;
text-decoration:none;
}

#main a:hover{
color:#802537;
}

#footer{
height:100px;
background-color:#F8F8FA
}

/* Menu */

#block-menu-menu-principal ul {
padding:0 0 0.25em 0;
}

#block-menu-menu-principal .content ul.menu li {
line-height:21px;
list-style:none outside none;
margin:0;
overflow:hidden;
padding:0 0 4px;
}

#block-menu-menu-principal .content ul.menu li a {
background:none repeat scroll 0 0 #DEDFE3;
display:block;
font-size:12px;
font-weight:normal;
overflow:hidden;
padding-left:5px;
text-decoration:none;
text-transform:uppercase;
}

#block-menu-menu-principal .content ul.menu li a:hover{
background:none repeat scroll 0 0 #DEDFE3;
display:block;
font-size:12px;
font-weight:normal;
overflow:hidden;
padding-left:5px;
text-decoration:underline;
text-transform:uppercase;
}



#main div.content div.field-field-imagen div.field-item a img{
float:right;
padding: 0 0 10px 10px;
}
#main div.content div.field-field-pictures div.field-item a img{
float:left;
padding: 0 10px 10px 0;
}

#main div.content div.field-field-pictures{
padding-top:20px;
}

#main div.content div.field-field-carga-archivos{
padding-top:10px;
}

#main div.content div.field-field-derechos{
padding-top:10px;
}

#main div.content div.field-field-evento-nombre-contac{
padding-top:10px;
}

#main div.content div.field-field-evento-nombre-contac div.field-items{
padding-bottom:10px;
}

#main div.content div.field-field-evento-organizadores{
padding-top:10px;
}

#main div.content div.field-field-resumen{
padding-top:10px;
}


#main div.field-type-nodereference{
clear:left;
}



#content-area div.content{
padding-top:10px;
}

#content-area div.content div.field-field-autor{
clear:left;
padding-bottom:5px;
}


/* Bloques de imagenes*/

div.view-Pictures-block div.field-content img{
padding-bottom:3px;
}
div.view-display-id-block_1 div.view-content span.field-content img{
padding-top:7px;
}

div.view-display-id-block_2 div.view-content span.field-content img{
padding-top:15px;
float:left;
padding-right:20px;
padding-bottom:15px;
}

div.view-display-id-block_2{
/*background-color:#333;*/
}

div.view-display-id-block_2  div.view-content{
padding-left: 120px;
}


div.field-content img{
float:left;
padding-right:20px;

}



/*Vista Events*/
/*
div.view-events div.view-content div.views-field-field-imagen-fid a{
float:left;
padding-right:15px;
padding-bottom:15px;
}*/

div.view-events div.view-content div.views-field-field-imagen-fid{
clear:left;
}

div.view-events div.view-content{
padding-top:10px;
}

div.view-events div.view-content div.views-field-title a
{
font-size:16px;
color: #802537;
font-weight:bold;
}


div.view-news div.view-content div.views-field-title
{
margin-bottom:0.4em;
}

div.view-news div.view-content div.views-field-title .field-content
{
font-size:16px;
color: #802537;
font-weight:bold;
}

div.view-events div.view-content div.views-field-title
{
padding-top:30px;
padding-bottom:5px;
}


div.view-events div.view-content div.field-content div.field-item{
padding-bottom:3px;
}

/*Vista News */

div.view-news div.view-content div.views-field-field-imagen-fid a{
float:left;
padding-right:10px;
padding-bottom:15px;
}

div.view-news div.view-content div.views-field-field-imagen-fid{
clear:left;
}



div.view-news div.view-content div.views-field-field-imagen-fid{
padding-top:5px;
/*padding-bottom:5px;*/
}



div.view-news div.view-content div.views-field-title span.field-content a{
font-size:12px;
text-decoration:none;
}


/* Vista resources*/


div.view-Resources div.view-content div.views-field-field-imagen-fid img{
float:left;
padding-right:15px;
padding-bottom:15px;
}

div.view-Resources div.view-content div.views-field-field-imagen-fid{
clear:left;
}

div.view-Resources div.view-content{
padding-top:10px;
}

div.view-Resources div.view-content div.views-field-field-autor-value div.field-content{
font-weight:bold;
}


div.view-Resources div.view-content div.views-field-title span.field-content{
color:#802537;
font-weight:bolder;
}

#logo {
display:none;
}


/* Twitter */

.twittersp .view-content .views-field-text{
font-size:10px;
}

td.twittersp{
width:100px;
}

.twitteren .view-content .views-field-text{
font-size:10px;
}

/* publicaciones */

.recursosmain .view-content li{
padding-bottom:10px;
clear:both;
}

.two-sidebars #content {
margin-left:220px;
margin-right:-780px;
width:540px;
}
